@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy", sans-serif;
  border: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

/*--------------------*/

@-webkit-keyframes a {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes a {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.just-validate-tooltip-container {
  position: relative;
}

.just-validate-tooltip-hide {
  -webkit-animation: a .4s linear;
  animation: a .4s linear;
  opacity: 0;
}

.js-validate-error-label {
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  color: #fff !important;
  padding: 4px 8px;
  font-size: 10px;
  pointer-events: none;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

html,
body {
  font-size: 18px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.logo {
  display: inline-block;
}

.btn-blue {
  padding: 24px 80px;
  background: #3454f5;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.input {
  padding: 0px 20px 0px 24px;
  height: 72px;
  color: #999999;
  font-size: 18px;
  background: #ffffff;
  border-radius: 5px;
}

.subcontainer {
  max-width: 1220px;
  margin: 0 auto;
}

.burger {
  width: 40px;
  height: 26px;
  position: relative;
  background-color: transparent;
}

.burger span {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  -o-transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.burger span:first-child {
  position: absolute;
  top: 0px;
}

.burger span:last-child {
  position: absolute;
  top: auto;
  bottom: 0;
}

.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.burger.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 70;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 30px;
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav.active {
  top: 0;
}

.header__nav.active::before {
  content: "";
  background-color: #e5f2ff;
}

.header__burger {
  display: none;
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header__item:not(:last-child) {
  margin-right: 56px;
}

.nav-header__link {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.100962px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-header__btn {
  margin-left: 12.34375vw;
  width: 207px;
  height: 49px;
  border: 2px solid #333333;
  border-radius: 5px;
  background: transparent;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.first {
  padding-bottom: 100px;
  padding-top: 111px;
}

.first__container {
  max-width: 1560px;
  padding-bottom: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../icons/sprite.svg#first_2") 388px -138px/426px 380px no-repeat, #eff7ff url("../icons/sprite.svg#first_1") -11% 117%/426px 380px no-repeat;
  position: relative;
}

.first__content {
  max-width: 735px;
  padding: 11.3% 0px 0px 11.7%;
}

.first__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #333333;
}

.first__subtitle {
  margin-bottom: 46px;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.first__image {
  position: absolute;
  top: 11.3%;
  right: 0;
  width: 800px;
  height: 653px;
  background: url("../img/first.png") center/800px 653px no-repeat;
}

.internet__head {
  margin-left: 12.1%;
  margin-bottom: 49px;
}

.internet__title {
  max-width: 630px;
  margin-bottom: 25px;
  color: #333333;
}

.internet__subtitle {
  max-width: 485px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.internet__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 105px;
}

.internet__image {
  margin: 0px 14.4% 0px 2.6%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  height: 589px;
  background: url("../img/box.png") center/cover no-repeat;
}

.internet__list {
  margin-top: 20px;
  max-width: 480px;
}

.internet__item {
  margin-bottom: 80px;
}

.item-internet__image {
  margin-bottom: 12px;
  margin-left: -37px;
  width: 175px;
  height: 140px;
}

.item-internet__image_1 {
  background: url("../img/konstruct.png") center/175px 123px no-repeat, url("../icons/sprite.svg#ellipse") center/140px 140px no-repeat;
}

.item-internet__image_2 {
  background: url("../img/bulb.png") center/100px 144px no-repeat, url("../icons/sprite.svg#ellipse") center/140px 140px no-repeat;
}

.item-internet__image_3 {
  background: url("../img/cubs.png") center/99px 113px no-repeat, url("../icons/sprite.svg#ellipse") center/140px 140px no-repeat;
}

.item-internet__image_4 {
  background: url("../img/money.png") center/100px 144px no-repeat, url("../icons/sprite.svg#ellipse") center/140px 140px no-repeat;
}

.item-internet__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.item-internet__subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.tsekh {
  background-color: #3454f5;
}

.tsekh__container {
  padding: 16.8% 0px 16% 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.tsekh__logo {
  width: 210px;
  height: 65px;
  margin-bottom: 61px;
}

.tsekh__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tsekh__text {
  margin: 0 auto;
  max-width: 750px;
  color: #fff;
}

.tsekh__arrow {
  position: absolute;
  width: 49px;
  height: 110px;
  background: url("../icons/sprite.svg#arrow_up") center/cover no-repeat;
}

.tsekh__arrow:nth-child(1) {
  top: 17.5%;
  left: 13.8%;
  opacity: 0.6;
}

.tsekh__arrow:nth-child(2) {
  top: 16.8%;
  left: 39.1%;
  opacity: 0.8;
}

.tsekh__arrow:nth-child(3) {
  top: 10.8%;
  right: 26.7%;
  opacity: 0.5;
}

.tsekh__arrow:nth-child(4) {
  bottom: 28.4%;
  left: 15.4%;
  opacity: 0.9;
}

.tsekh__arrow:nth-child(5) {
  top: 48%;
  right: 13%;
  opacity: 0.8;
}

.tsekh__arrow:nth-child(6) {
  bottom: -11px;
  left: 34.1%;
  opacity: 0.6;
}

.tsekh__arrow:nth-child(7) {
  bottom: 10.9%;
  right: 22.4%;
}

.about__container {
  padding-top: 8%;
  padding-bottom: 7.3%;
}

.about__title {
  max-width: 435px;
  margin: 0px 0px 31px 13.1%;
}

.about__grid {
  margin: 0px 0px 7.2% 10%;
  display: grid;
  grid-template-columns: minmax(200px, 520px) 479px;
  grid-column-gap: 50px;
  grid-row-gap: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__subtitle {
  margin: 0px 0px 15px 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
}

.about__text {
  margin-bottom: 27px;
  line-height: 28px;
  color: #333333;
}

.about-img {
  height: 557px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-img_1 {
  background-image: url("../img/tablet_1.png");
}

.about-img_2 {
  background-image: url("../img/tablet_2.png");
}

.about-img_3 {
  margin-top: 12px;
  background-image: url("../img/tablet_3.png");
}

.integrate__item {
  padding-left: 21px;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  position: relative;
}

.integrate__item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../icons/sprite.svg#plus") center/cover no-repeat;
}

.integrate__item_minus {
  color: #e46868;
}

.integrate__item_minus::before {
  background: url("../icons/sprite.svg#minus") center/cover no-repeat;
}

.order-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 83px;
  background: #eff7ff;
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.order-about__image {
  margin: 81px 7.7% 0px 4.3%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 378px;
          flex: 0 0 378px;
  height: 322px;
  background: url("../img/form.png") center/cover no-repeat;
}

.order-about__form {
  margin: 84px 58px 0px 0px;
}

.form-about__text {
  margin-bottom: 50px;
}

.form-about__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-about__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 287px;
          flex: 0 1 287px;
  margin-bottom: 20px;
}

.form-about__tel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 294px;
          flex: 0 1 294px;
  margin-bottom: 20px;
}

.form-about__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 287px;
          flex: 0 1 287px;
}

.form-about__att {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 294px;
          flex: 0 1 294px;
  padding-right: 18px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.stack {
  background: #eff7ff;
}

.stack__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.stack__title {
  margin: 0px 0px 50px 12.2%;
}

.stack__list {
  margin: 0px 12.2% 0px 12.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stack__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  height: 88px;
  background: #ffffff;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.stack__item:not(:last-child) {
  margin-right: 20px;
}

.stack__item_1 {
  background-image: url("../img/vuejs.png");
}

.stack__item_2 {
  background-image: url("../img/django.png");
}

.stack__item_3 {
  background-image: url("../img/elastic.png");
}

.cases__container {
  padding-top: 7.3%;
  padding-bottom: 7.5%;
}

.cases__title {
  margin: 0px 0px 50px 12.2%;
}

.cases__grid {
  display: grid;
  grid-template-columns: 49.6% 411px;
  grid-column-gap: 50px;
  grid-row-gap: 39px;
  margin: 0px 0px 0px 12.2%;
}

.cases__image {
  padding-bottom: 58.6%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.cases__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cases__hovered {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #3454f5;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.cases__hovered::before {
  content: "";
  width: 48px;
  height: 48px;
  background: url("../icons/sprite.svg#arrow_hover") center/cover no-repeat;
}

.content-cases {
  -ms-flex-item-align: center;
      align-self: center;
}

.content-cases__title {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.content-cases__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.content-cases__stats:not(:last-child) {
  margin-bottom: 24px;
}

.content-cases__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96px;
          flex: 0 0 96px;
  margin-right: 17px;
  height: 56px;
  background: #eff7ff;
  border-radius: 5px;
  font-weight: 600;
  color: #3454f5;
}

.price {
  background: #3454f5;
}

.price__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.price__title {
  margin: 0px 0px 30px 12.2%;
  color: #ffffff;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 48px 12.2%;
}

.price__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 344px;
          flex: 0 1 344px;
  margin-right: 15px;
  line-height: 28px;
  color: #ffffff;
}

.price__hour {
  line-height: 28px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__hour::before {
  content: "1 190 ₽";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  width: 144px;
  height: 56px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #333333;
}

.price__form {
  margin: 0px 0px 0 12.2%;
}

.price__att {
  margin: 20px 0px 0 12.2%;
  line-height: 24px;
  color: #ffffff;
}

.form-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-price__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  margin-right: 14px;
}

.form-price__tel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  margin-right: 14px;
}

.form-price__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 391px;
          flex: 0 1 391px;
  height: 72px;
  background: #ffe818;
  border-radius: 5px;
  line-height: 24px;
  font-weight: 800;
  color: #333333;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.team__container {
  padding-top: 7.3%;
  padding-bottom: 7.3%;
}

.team__title {
  margin-bottom: 50px;
}

.team__image {
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 30.5%;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 457px;
          flex: 0 1 457px;
  margin-right: 193px;
  line-height: 28px;
  color: #333333;
}

.team__lead-text {
  font-weight: 600;
  line-height: 28px;
  color: #333333;
}

.team__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__ava {
  margin-right: 31px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 101px;
          flex: 0 0 101px;
  height: 101px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.team__ava img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.extra__container {
  padding-bottom: 7.3%;
}

.extra__title {
  margin-bottom: 20px;
  color: #333333;
}

.extra__subtitle {
  margin-bottom: 40px;
  line-height: 28px;
  color: #333333;
}

.extra__list {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.item-extra {
  padding: 43px 61px 40px 40px;
  height: 460px;
  position: relative;
  overflow: hidden;
  background-color: #eff7ff;
  background-repeat: no-repeat;
}

.item-extra_1 {
  background-image: url("../img/extra_1.png");
  background-position: 100% 100%;
  background-size: 287px 299px;
}

.item-extra_2 {
  background-image: url("../img/extra_2.png");
  background-position: 100% 100%;
  background-size: 287px 299px;
}

.item-extra_3 {
  background-image: url("../img/extra_3.png");
  background-position: 100% 100%;
  background-size: 339px 299px;
}

.item-extra__title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.item-extra__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-extra__tag {
  margin: 0px 8px 8px 0px;
  padding: 6px 8px;
  background: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  color: #333333;
}

.item-extra__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #3454f5 url("../icons/sprite.svg#arrow_hover") center/contain no-repeat;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer {
  background: #2e3646;
}

.footer::after {
  content: "";
  display: block;
  height: 67px;
  background: #fff;
}

.footer__container {
  padding-top: 80px;
}

.footer__logo {
  margin: 0px 0px 53px 12.6%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15.8% 79px 12.6%;
  margin: 0 -15px;
}

.footer__column {
  padding: 0 15px;
}

.footer__title {
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 28px;
  color: #ffffff;
}

.footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__link_tel::before {
  content: "";
  margin-right: 17px;
  width: 17px;
  height: 17px;
  background: url("../icons/sprite.svg#tel") center/cover no-repeat;
}

.footer__link_mail::before {
  content: "";
  margin-right: 17px;
  width: 17px;
  height: 14px;
  background: url("../icons/sprite.svg#mail") center/cover no-repeat;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social__link_f {
  background-image: url("../icons/sprite.svg#facebook");
}

.social__link_inst {
  background-image: url("../icons/sprite.svg#inst");
}

.social__link_be {
  background-image: url("../icons/sprite.svg#be");
}

.webp .first__image {
  background: url(../img/first.webp) center/800px 653px no-repeat;
}

.webp .internet__image {
  background: url(../img/box.webp) center/cover no-repeat;
}

.webp .item-internet__image_1 {
  background: url(../img/konstruct.webp) center/175px 123px no-repeat, url(../icons/sprite.svg#ellipse) center/140px 140px no-repeat;
}

.webp .item-internet__image_2 {
  background: url(../img/bulb.webp) center/100px 144px no-repeat, url(../icons/sprite.svg#ellipse) center/140px 140px no-repeat;
}

.webp .item-internet__image_3 {
  background: url(../img/cubs.webp) center/99px 113px no-repeat, url(../icons/sprite.svg#ellipse) center/140px 140px no-repeat;
}

.webp .item-internet__image_4 {
  background: url(../img/money.webp) center/100px 144px no-repeat, url(../icons/sprite.svg#ellipse) center/140px 140px no-repeat;
}

.webp .about-img_1 {
  background-image: url(../img/tablet_1.webp);
}

.webp .about-img_2 {
  background-image: url(../img/tablet_2.webp);
}

.webp .about-img_3 {
  background-image: url(../img/tablet_3.webp);
}

.webp .order-about__image {
  background: url(../img/form.webp) center/cover no-repeat;
}

.webp .stack__item_1 {
  background-image: url(../img/vuejs.webp);
}

.webp .stack__item_2 {
  background-image: url(../img/django.webp);
}

.webp .stack__item_3 {
  background-image: url(../img/elastic.webp);
}

.webp .item-extra_1 {
  background-image: url(../img/extra_1.webp);
}

.webp .item-extra_2 {
  background-image: url(../img/extra_2.webp);
}

.webp .item-extra_3 {
  background-image: url(../img/extra_3.webp);
}

@media (min-width: 992px) {
  .btn-blue:hover {
    background-color: #ffe818;
  }

  .burger:hover.burger span {
    background-color: #efc58b;
  }

  .nav-header__link:hover {
    color: #3454f5;
  }

  .nav-header__btn:hover {
    background-color: #687ff2;
  }

  .cases__hovered:hover {
    opacity: 0.9;
  }

  .form-price__btn:hover {
    color: #3454f5;
  }

  .item-extra__btn:hover {
    background-color: #ffe818;
  }

  .footer__link:hover {
    color: #3454f5;
  }
}

@media (max-width: 1600px) {
  .first__container {
    padding-bottom: 50px;
    background: url("../icons/sprite.svg#first_2") 388px -138px/426px 380px no-repeat, #eff7ff url("../icons/sprite.svg#first_1") -11% 142%/426px 380px no-repeat;
  }

  .first__image {
    position: static;
    margin: 5.4% 0px 0px 0px;
    height: auto;
    background: url("../img/first.png") center/contain no-repeat;
  }

  .internet__image {
    background: url("../img/box.png") center/contain no-repeat;
    margin: 0px 8% 0px 2.6%;
    height: 0;
    padding-bottom: 36%;
  }

  .internet__list {
    max-width: none;
  }

  .tsekh__arrow {
    width: 35px;
    height: 90px;
  }

  .webp .first__image {
    background: url(../img/first.webp) center/contain no-repeat;
  }

  .webp .internet__image {
    background: url(../img/box.webp) center/contain no-repeat;
  }
}

@media (max-width: 1300px) {
  .nav-header__item:not(:last-child) {
    margin-right: 30px;
  }

  .nav-header__btn {
    margin-left: 5.5vw;
    width: 165px;
  }

  .first__content {
    padding: 11.3% 0px 0px 2%;
  }

  .tsekh__arrow:nth-child(2) {
    top: 2.8%;
  }

  .tsekh__arrow:nth-child(4) {
    bottom: 7.4%;
  }

  .tsekh__arrow:nth-child(5) {
    right: 4%;
  }

  .about__grid {
    margin: 0px 0px 7.2% 0px;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
  }

  .about-img {
    height: auto;
    padding-bottom: 80%;
    background-size: contain;
  }

  .form-about__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .form-about__tel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .form-about__btn {
    margin-bottom: 30px;
  }

  .stack__title {
    margin: 0px 0px 50px 0px;
  }

  .stack__list {
    margin: 0px 0px 0px 0px;
  }

  .cases__grid {
    margin: 0px 0px 0px 0px;
  }

  .form-price__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }

  .team__subcontainer {
    max-width: none;
    margin: 0;
  }

  .extra__subcontainer {
    max-width: none;
    margin: 0;
  }

  .extra__list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 380px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo {
    margin: 0px 0px 53px 0;
  }

  .footer__row {
    padding: 0px 0 79px 0;
  }
}

@media (max-width: 992px) {
  .title {
    text-align: center;
    max-width: none;
  }

  .header__nav {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 107px 0px 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #e5f2ff;
    overflow: auto;
    z-index: 3;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
  }

  .header__nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 107px;
    width: 100%;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 4;
  }

  .nav-header__list {
    display: block;
  }

  .nav-header__item {
    margin: 0px 0px 30px 0px !important;
    text-align: center;
  }

  .nav-header__link {
    font-size: 40px;
  }

  .nav-header__btn {
    margin: 0;
    padding: 15px 0;
    width: 207px;
  }

  .first {
    padding-top: 107.4px;
  }

  .internet__head {
    margin: 0px 0px 65px 0px;
  }

  .internet__subtitle {
    text-align: center;
    max-width: none;
  }

  .internet__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .internet__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 40px 0px;
  }

  .internet__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }

  .item-internet__image {
    margin: 0px auto;
  }

  .tsekh__arrow:nth-child(2) {
    display: none;
  }

  .tsekh__arrow:nth-child(3) {
    top: 4.8;
  }

  .tsekh__arrow:nth-child(5) {
    display: none;
  }

  .tsekh__arrow:nth-child(6) {
    display: none;
  }

  .tsekh__arrow:nth-child(7) {
    bottom: 1.9%;
  }

  .about__title {
    margin: 0px 0px 50px 0px;
    text-align: center;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .order-about__image {
    display: none;
  }

  .order-about__form {
    margin: 84px 50px 0px 50px;
  }

  .order-about__form {
    margin: 84px 20px 0px 20px;
  }

  .form-about__text {
    margin-bottom: 40px;
  }

  .form-about__inputs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .form-about__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  .form-about__tel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  .form-about__att {
    margin-left: 20px;
  }

  .stack__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stack__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 51%;
            flex: 0 0 51%;
  }

  .stack__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .cases__title {
    margin: 0px 0px 50px 0;
  }

  .cases__grid {
    grid-template-columns: 40% 1fr;
  }

  .cases__image img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .cases__image img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .price__title {
    margin: 0px 0px 30px 0;
  }

  .price__content {
    margin: 0px 0px 48px 0;
  }

  .price__form {
    margin: 0px 0px 0 0;
  }

  .price__att {
    margin: 20px 0px 0 0px;
  }

  .team__text {
    margin-right: 40px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 0 49px 0;
  }

  .footer__column {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  .header__nav::before {
    height: 85.4px;
  }
}

@media (max-width: 768px) {
  .first__container {
    display: block;
  }

  .first__content {
    text-align: center;
  }

  .first__image {
    width: 100%;
    height: 300px;
    margin: 50px auto 0px auto;
  }

  .tsekh__arrow:nth-child(1) {
    display: none;
  }

  .tsekh__arrow:nth-child(3) {
    display: none;
  }

  .tsekh__arrow:nth-child(4) {
    display: none;
  }

  .tsekh__arrow:nth-child(7) {
    display: none;
  }

  .about__container {
    padding-top: 16%;
  }

  .about__grid {
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
  }

  .form-about__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .form-about__tel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .stack__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 380px;
            flex: 0 1 380px;
  }

  .cases__grid {
    grid-template-columns: 1fr;
  }

  .content-cases__stats:not(:last-child) {
    margin-bottom: 40px;
  }

  .price__hour::before {
    width: 111px;
  }

  .form-price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-price__name {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-price__tel {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-price__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 350px;
            flex: 0 1 350px;
  }

  .team__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .team__text {
    margin: 0px 0px 30px 0px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 10vw;
    line-height: 1.1;
  }

  .input {
    height: 55px;
  }

  .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .first {
    padding-top: 85.4px;
  }

  .first__container {
    background: #eff7ff;
  }

  .first__title {
    margin-bottom: 45px;
    font-size: 14vw;
    line-height: 1.1;
  }

  .first__subtitle {
    font-size: 7vw;
    line-height: 1.3;
  }

  .first__btn {
    padding: 24px 14% 24px 14%;
  }

  .internet__image {
    padding-bottom: 60%;
  }

  .order-about {
    margin: 0px -20px 0px -20px;
  }

  .form-about__inputs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-about__btn {
    padding: 0;
    height: 55px;
  }

  .cases__container {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .content-cases__value {
    width: 70px;
    height: 45px;
  }

  .price__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .price__text {
    margin-bottom: 25px;
  }

  .form-price__btn {
    height: 60px;
  }

  .team__lead-text {
    line-height: 1.2;
    font-weight: 400;
  }

  .team__ava {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    height: 80px;
    margin-right: 20px;
  }

  .item-extra {
    margin: 0 -20px;
    padding: 30px 40px 30px 40px;
    height: 400px;
  }

  .item-extra__btn {
    width: 60px;
    height: 60px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-height: 618px) {
  .nav-header__link {
    font-size: 30px;
  }
}